<style>
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }
  #pac-input:focus {
    border-color: #4d90fe;
  }
  .pac-container {
    font-family: Roboto;
  }
  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }
  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  #target {
    width: 345px;
  }
  .img-upload-btn {
    position: relative;
    overflow: hidden;
    padding-top: 95%;
  }
  .img-upload-btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .img-upload-btn i {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
  }

  .btn-radio input[type=radio] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
</style>

<div class="container">
  <h1>Nuevo establecimiento</h1>
  <form action="company/createNewCompany" id="newCompany" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="establecimiento">Nombre</label>
      <input  class="form-control" id="establecimiento" aria-describedby="emailHelp"
             placeholder="Escriba el nombre de su establecimiento" name="name">
    </div>
    <div class="form-group">
      <label for="textarea">Descripción</label>
      <textarea class="form-control" id="textarea" rows="3" name="description"></textarea>
    </div>

    <div class="form-group">
      <label for="pac-input">Localización</label>
      <p>Por favor, selecciona el punto exacto de la ubicación de tu negocio </p>
      <input required id="pac-input" class="controls" type="text" placeholder="Dirección">
      <div id="map" style="width: 100%;height: 400px;background-color: grey"></div>
      <input type="hidden" name="latitude" id="latitude">
      <input type="hidden" name="longitude" id="longitude">
      <input type="hidden" name="city" id="city">
    </div>

    <legend>Fotos del lugar</legend>
    <div class="row">
      <div class=" col-sm-3 ">
        <div class="img-picker"></div>
        <div class="preview"></div>
      </div>
      <div class="form-group col-sm-3">
        <div class="img-picker"></div>
        <div class="preview"></div>
      </div>
      <div class="form-group col-sm-3">
        <div class="img-picker"></div>
        <div class="preview"></div>
      </div>
      <div class="form-group col-sm-3">
        <div class="img-picker"></div>
        <div class="preview"></div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>




<script>
  function initAutocomplete() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -0.171942, lng: -78.460095},
      zoom: 13,
      mapTypeId: 'roadmap'
    });

    // Create the search box and link it to the UI element.
    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function () {
      searchBox.setBounds(map.getBounds());
    });

//    var markers = [];
    var marker;
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.


    searchBox.addListener('places_changed', function () {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }
      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function (place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        setMarker(place.geometry.location);

        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });

    var geocoder = new google.maps.Geocoder;
    google.maps.event.addListener(map, 'click', function (event) {
      placeMarker(event.latLng, geocoder);
    });

//    var marker;

    function placeMarker(location, geocoder) {
      geocoder.geocode({'location': location,'language':'es'}, function (results) {
        console.log(results);
        setMarker(location);
        document.getElementById('pac-input').value = results[1].formatted_address;
        $("#city").val(results[results.length-3].place_id);
      });
    }

    function setMarker(location){
      if (marker) {
        marker.setPosition(location);
      } else {
        marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
      $("input[name$='latitude']").val(location.lat());
      $("input[name$='longitude']").val(location.lng());
    }
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8-GllalpxSUubV2qgh0rhba-wsKE5t3c&libraries=places&callback=initAutocomplete">
</script>
<script>
  var total=0;
  $(function(){
    $.fn.imagePicker = function( options ) {
      // Define plugin options
      var settings = $.extend({
        // Input name attribute
        // Classes for styling the input
        class: "form-control btn btn-default btn-block",
        // Icon which displays in center of input
        icon: "glyphicon glyphicon-plus"
      }, options );

      // Create an input inside each matched element

      for(var i=0;i<this.length;i+=2){
        $(this[i]).html(create_btn(this[i], settings,this[i+1]));
      }
    };

    // Private function for creating the input element
    function create_btn(that, settings,oculto) {
      // The input icon element
      var picker_btn_icon = $('<i class="'+settings.icon+'"></i>');

      // The actual file input which stays hidden
      var picker_btn_input = $('<input type="file" name="'+settings.name+'" />');

//      var hidden = $('');

      // The actual element displayed
      var picker_btn = $('<div class="'+settings.class+' img-upload-btn"></div>')
        .append(picker_btn_icon)
        .append(picker_btn_input);

      // File load listener
      picker_btn_input.change(function() {
        if ($(this).prop('files')[0]) {
//            console.log();
            // Use FileReader to get file
          var reader = new FileReader();
          // Create a preview once image has loaded
          reader.onload = function(e) {
            var preview = create_preview(that, e.target.result, settings,oculto);
            $(that).hide();
            $(oculto).html(preview);
            total++;
          }

          // Load image
          reader.readAsDataURL(picker_btn_input.prop('files')[0]);
        }
      });

      return picker_btn
    };

    // Private function for creating a preview element
    function create_preview(that, src, settings,oculto) {

      // The preview image
      var picker_preview_image = $('<img src="'+src+'" class="img-responsive img-rounded" />');
      // The remove image button
      var picker_preview_remove = $('<button type="button" class="btn btn-link"><small>Remove</small></button>');
//      var arr=$('input[name="images"]')

      // The preview element
      var picker_preview = $('<div class="text-center"></div>')
        .append(picker_preview_image)
        .append(picker_preview_remove);

      // Remove image listener
      picker_preview_remove.click(function() {
        $(that).show();
        picker_preview.hide();
        var btn = create_btn(that, settings,oculto);
        $(that).html(btn);
        total--;
//        picker_preview.hide();
//        $(that).show();
      });

      return picker_preview;
    };

  }( jQuery ));

  $(document).ready(function() {
    $('.img-picker,.preview').imagePicker({name: 'images'});
    $('#newCompany').submit(function() {
      if (total == 0){
        if (confirm("Subir sin fotos? ") == true) {
          return true;
        } else {
          return false;
        }
      }
    });
  })
</script>
<script>
  <!--evitar la tecla Enter-->
  $(document).keypress(
    function(event){
      if (event.which == '13') {
        event.preventDefault();
      }
    });
</script>


